<!-- Main Wrapper -->
			<div id="main-wrapper">

				<!-- Main -->
					<div id="main" class="container">
						<div class="row">
						
							<!-- Content -->
								<div id="content" class="12u skel-cell-mainContent">

									<!-- Post -->
										<article class="is-post product">
											<header>
												<hr class="linea-color"></hr>
												<h2 class="center">Kit <strong>Alambrico</strong></h2>
											</header>
											<span class="image image-media"><img src="{path}images/{thumbnail}" /></span>
											 <div class="composicion">
                                            <h3>Composición</h3>
                                            <ul class="flecha">
											<li><img src="{path}images/flecha.png" alt="" />1 Set Central de Alarma (SP5500)</li>
											<li><img src="{path}images/flecha.png" alt="" />1 Teclado Led Alámbrico (k10v)</li>
											<li><img src="{path}images/flecha.png" alt="" />2 Sensores de Movimiento (476)</li>
                                            <li><img src="{path}images/flecha.png" alt="" />2 Magnéticos Sobrepuestos</li>
                                            <li><img src="{path}images/flecha.png" alt="" />1 set Sirena Exterior</li>
                                            <li><img src="{path}images/flecha.png" alt="" />1 Botón de Pánico Alámbrico</li>
                                            <li><img src="{path}images/flecha.png" alt="" />1 placa disuasiva</li></br>
                                            </ul>
                                            
                                            
                                            <ul class="actions cotiza">
												<li><a href="#" class="button button-icon icon icon-file">Cotiza por tu plan</a></li>
											</ul></br></div>

                                            
                                            <h4 class="destacado">Contrata este mes y llévate de regalo Una  IP150 o UNA CÁMARA TRENDNET
                                            Que te permitirán monitorear y controlar tu hogar o empresa desde tu celular o tablet.
                                            </h4></br></br></br>
											<h3>Productos Adicionales</h3>
											<div class="row">
							<div class="espacios">

								<!-- Featured -->
									<section class="article">
										<a href="#" class="image image-small"><img src="{path}images/k32-led.jpg" alt="" /></a>
										<header>
											<h5><img src="{path}images/flecha.png" alt="" />K32</h5>
										</header>
										<p>Teclado Alámbrico Led</p>
									</section>

							</div>
							<div class="espacios">

								<!-- Featured -->
									<section class="article">
										<a href="#" class="image image-small"><img src="{path}images/k32-lcd.jpg" alt="" /></a>
										<header>
											<h5><img src="{path}images/flecha.png" alt="" />K32LCD</h5>
										</header>
										<p>Teclado Alámbrico Digital</p>
									</section>
									
							</div>
							<div class="espacios">

								<!-- Featured -->
									<section class="article">
										<a href="#" class="image image-small"><img src="{path}images/nv780.jpg" alt="" /></a>
										<header>
											<h5><img src="{path}images/flecha.png" alt="" />NV780</h5>
										</header>
										<p>Detector Alámbrico de exterior e interior para muros</p>
									</section>

							</div>
                            <div class="espacios">

								<!-- Featured -->
									<section class="article">
										<a href="#" class="image image-small"><img src="{path}images/nvx80.jpg" alt="" /></a>
										<header>
											<h5><img src="{path}images/flecha.png" alt="" />NVX80</h5>
										</header>
										<p>Sensor Paradox Exterior</p>
									</section>

							</div>
						</div>
                        
                        
                        <div class="row">
							<div class="espacios">

								<!-- Featured -->
									<section class="article">
										<a href="#" class="image image-small"><img src="{path}images/touch-alambrico.jpg" alt="" /></a>
										<header>
											<h5><img src="{path}images/flecha.png" alt="" />Teclado Touch Alámbrico TM-50</h5>
										</header>
										<p>Usa cables soportado por SP5500</p>
									</section>

							</div>
							<div class="espacios">

								<!-- Featured -->
									<section class="article">
										<a href="#" class="image image-small"><img src="{path}images/gprs.jpg" alt="" /></a>
										<header>
											<h5><img src="{path}images/flecha.png" alt="" />GPRS</h5>
										</header>
										<p>Medio de transmisión vía internet</p>
									</section>
									
							</div>
							<div class="espacios">

								<!-- Featured -->
									<section class="article">
										<a href="#" class="image image-small"><img src="{path}images/radial.jpg" alt="" /></a>
										<header>
											<h5><img src="{path}images/flecha.png" alt="" />Radial ATS 100 KP Electronics</h5>
										</header>
										<p>Medio de transmisión vía frecuencia radial, la cual tiene como caracteristica principal el envío de datos directo a nuestra central con dicho equipo.</p>
									</section>

							</div>
                            <div class="espacios">

								<!-- Featured -->
									<section class="article">
										<a href="#" class="image image-small"><img src="{path}images/rtx3.jpg" alt="" /></a>
										<header>
											<h5><img src="{path}images/flecha.png" alt="" />RTX3</h5>
										</header>
										<p>Módulo de expansión inalambrica que le permitirá compatibilizar con los elementos inalámbricos Paradox</p>
									</section>

							</div>
						</div>

				</article>
								
								</div>
								
						</div>
					</div>

			</div>
